/Bukkit/target/
/Bukkit/Bukkit.iml
/target/
/.idea/
/Core/target/
/Core/Core.iml
/Core/TNIL-Core.iml
/Sponge7/target
/Sponge8/target
*.iml
/Core/dependency-reduced-pom.xml
/Bukkit/dependency-reduced-pom.xml
/Sponge7/dependency-reduced-pom.xml
/Sponge8/dependency-reduced-pom.xml
/Minestom/target/
/Minestom/dependency-reduced-pom.xml
/Folia/target/
/Folia/dependency-reduced-pom.xml
/Examples/dependency-reduced-pom.xml
/Paper/dependency-reduced-pom.xml
/Paper/target/
